{
  "plugins": [
    "lodash"
  ],
  "extends": [
    "standard",
    "standard-react",
    "react-app",
    "plugin:lodash/recommended"
  ],
  "rules": {
    "keyword-spacing": [
      "error",
      {
        "after": true,
        "before": true,
        "overrides": {
          "if": {
            "after": false
          },
          "for": {
            "after": false
          },
          "while": {
            "after": false
          },
          "switch": {
            "after": false
          },
          "catch": {
            "after": false
          }
        }
      }
    ],
    "space-before-function-paren": [
      "error",
      "never"
    ],
    "generator-star-spacing": [
      "error",
      {
        "before": false,
        "after": true
      }
    ],
    "object-curly-spacing": [
      "error",
      "always"
    ],
    "no-unused-vars": [
      "warn",
      {
        "args": "none",
        "ignoreRestSiblings": true
      }
    ],
    "lodash/prefer-lodash-method": 0,
    "lodash/import-scope": 0,
    "lodash-fp/use-fp": 0,
    "lodash-fp/prefer-get": 0
  }
}