@import 'variables';
.header,
{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    letter-spacing: 0.1rem;
    line-height: 1.1rem;
}

.navbar {
    background-color: $background-light;
    padding: 2rem 1rem 0 1rem;
    .brand {
        letter-spacing: 0;
        .brand-logo {
            max-height: 5rem;
            max-width: 100%;
            background-size: contain;
            height: 100%;
        }
        .brand-title {
            font-size: 2rem;
        }
        .brand-description {
            display: block;
            font-size: 0.8rem;
        }
    }
    .menu {
        .menu-item {
            display: inline-block;
            position: relative;
            .menu-item-link {
                padding: 1.5rem;
                display: block;
                cursor: pointer;
                transition: color .3s;
            }
            &:hover {
                .submenu {
                    opacity: 1;
                    transform: translateX(50%) translateY(0);
                    .submenu-item {
                        height: 100%;
                        transition: height 1s;
                    }
                    .submenu-item-link {
                        display: block;
                    }
                }
                .menu-item-link {
                    color: $secondary-text;
                }
            }
        }
        .submenu {
            opacity: 0;
            position: absolute;
            margin: 0 auto;
            right: 50%;
            transform: translateX(50%) translateY(-5%);
            top: 3.5rem;
            z-index: 999;
            background-color: $background-light; // visibility: hidden;
            transition: opacity .2s, transform .3s;
            .submenu-item-link {
                padding: 1.5rem 3rem;
                display: none;
                cursor: pointer;
                transition: color .3s;
            }
            .submenu-item {
                display: block;
                height: 0;
                transition: height 1s;
                &:hover {
                    .submenu-item-link {
                        color: $secondary-text;
                    }
                }
            }
            &:hover {
                .submenu-item-link {
                    display: block;
                }
            }
        }
    }
}
  