$primary-color: #ff88aa;
$background-light: #fdfdfd;
$background-medium: #ddd;
$background-dark: #222;
$primary-text: #444;
$secondary-text: #bbb;
$light-text: #f1f1f1;
$accent: #03A9F4;
$disabled: #bbb;
