/*
* Generate margin and padding classes
*/

$spaceamounts: (0, 0.5, 0.75, 1, 1.5, 1.75, 2, 3, 4, 5, 10);
$sides: (top, bottom, left, right);
@each $space in $spaceamounts {
  $i: index($spaceamounts, $space)-1;
  .m-#{$i} {
    margin: #{$space}rem !important;
  }
  .p-#{$i} {
    padding: #{$space}rem !important;
  }
}

@each $space in $spaceamounts {
  $i: index($spaceamounts, $space)-1;
  .my-#{$i} {
    margin: #{$space}rem 0 !important;
  }
  .mx-#{$i} {
    margin: 0 #{$space}rem !important;
  }
  .py-#{$i} {
    padding: #{$space}rem 0 !important;
  }
  .px-#{$i} {
    padding: 0 #{$space}rem !important;
  }
}

@each $space in $spaceamounts {
  $i: index($spaceamounts, $space)-1;
  @each $side in $sides {
    .m#{str-slice($side, 0, 1)}-#{$i} {
      margin-#{$side}: #{$space}rem !important;
    }
    .p#{str-slice($side, 0, 1)}-#{$i} {
      padding-#{$side}: #{$space}rem !important;
    }
  }
}