/*
* Generate margin and padding classes
*/

$spaceamounts: (0.5, 0.75, 1, 1.5, 1.75, 2, 3, 4, 5, 10);
$sides: (top, bottom, left, right);

@each $space in $spaceamounts {
  $i: index($spaceamounts, $space);
  .m-#{$i} {
    margin: #{$space}rem !important;
  }
  .p-#{$i} {
    padding: #{$space}rem !important;
  }
}

@each $space in $spaceamounts {
  $i: index($spaceamounts, $space);
  @each $side in $sides {
    .m#{str-slice($side, 0, 1)}-#{$i} {
      margin-#{$side}: #{$space}rem !important;
    }
    .p#{str-slice($side, 0, 1)}-#{$i} {
      padding-#{$side}: #{$space}rem !important;
    }
  }
}
