.file-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.file-thumbnail {
  background-color: #363636;
  margin: 0.5rem;
  height: 150px;
  width: 150px;
  color: white;
  overflow: hidden;
  border-radius: 2px;
  position: relative;
  display: block;
  .center {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate(50%, 50%);
  }
  .file-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 250px;
    max-width: 250px;
    transform: translate(-50%, -50%);
  }
  .details {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1.5rem;
    transition: .3s ease;
    background: #1771e3;
  }
  &>.details {
    padding: 0 1rem;
  }
  &:hover .details {
    height: 33%;
  }
}