$color-black: black;
$color-darkgrey: #333;
$color-grey: #444;
$color-lightgrey: #bbb;
$color-white: #fff;
$color-yellow: #fecd33;

.navbar-end {
  width: 100%;

  > a:first-child {
    margin-right: auto;
  }
}

.vujut {
  background-color: $color-black;
  overflow-x: hidden;
}

.vujut {
  .left-gray {
    width: 100vw;
    height: 100%;
    border: none;
  }

  .vujut--wrapper {
    background-color: black;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    img {
      height: 200px;
    }

    h1 {
      color: $color-yellow;
    }
    .svg--wrapper {
      position: absolute;
      left: 40px;
      bottom: 0;
      height: 200px;

      .wheel--staff {
        width: 2px;
        height: 50px;
        margin: 0 auto;
        padding: 0;
        background: $color-white;
      }
    }

    // Stuff that matters.
    @keyframes scroll {
      0% {
        transform: translateY(0);
      }
      30% {
        transform: translateY(20px);
      }
    }

    svg line {
      animation: scroll ease 2s infinite;
    }

    @media (max-width: 767px) {
      .svg--wrapper {
        display: none;
      }
    }

  }

  .is-full-height {
    padding: 0;
  }
}

.vujut .navbar {
  background-color: $color-black;
  color: $color-lightgrey;
  box-shadow: none;

  .navbar-burger {
    color: $color-lightgrey;
  }

  .navbar-dropdown {
    background-color: $color-darkgrey;
    border-top: 2px solid $color-darkgrey;
  }

  .navbar-item {
    color: $color-white;
    
    &:hover {
      color: $color-lightgrey !important;
      background-color: $color-black !important;
    }

    &.is-hidden-touch:hover {
      color: $color-white !important;
      background-color: $color-black !important;
    }

    &.nav-active {
      box-shadow: none;

      background-color: $color-darkgrey;
      color: $color-yellow;

      @include from($desktop) {
        background-color: $color-black;
        color: $color-lightgrey;
      }
    }
  }

  .navbar-menu.is-active {
    background-color: $color-darkgrey;

    @include from($desktop) {
      background-color: $color-black
    }
  }
}
