.footer {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1.1rem; }

.footer-container {
  background-color: #222;
  padding: 2rem 1rem;
  color: #f1f1f1; }
