@import 'variables.scss';
.footer {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1.1rem;
}

.footer-container {
  background-color: $background-dark;
  padding: 2rem 1rem;
  color: $light-text;
}