.flex-content {
  height: 100%;
  overflow: hidden;
  margin: 0px;
  display: flex;
  box-sizing: border-box; }

.column {
  height: 100%;
  display: flex;
  flex-direction: column; }

#left {
  flex-shrink: 0; }

#right {
  width: 100%; }

.top-left {
  flex-shrink: 0; }

.top-right {
  flex-shrink: 0;
  display: inline-flex; }

ul.menu {
  display: inline-flex;
  list-style: none; }

.bottom {
  flex-grow: 1;
  overflow-y: auto; }
