@charset "UTF-8";
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #fad30f;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "“" "”" "‘" "’"; }

blockquote:before {
  color: #fad30f;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.2em;
  vertical-align: -0.4em; }

blockquote p {
  display: inline; }

.markdown-area .text-container,
.markdown-area .text-input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  resize: vertical;
  min-height: 40rem;
  height: 100%;
  padding: 1rem;
  display: block;
  padding: .75rem 1.25rem;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125); }
